__pycache__/
*.py[cod]
*$py.class
var/
venv/
env/
instance/
.mypy_cache/
/migrations/versions/*.py
/migrations/versions/__pycache__*.pyc
!/migrations/versions/__pycache__/

*.egg-info/
build/
dist/
publish_lib.sh

# only for the framefox project
src/
tests/
framefox.egg-info/
var/
.env
config/
templates/
migrations/
public/
main.py
app.db