__pycache__/
*.py[cod]
*$py.class
var/
venv/
env/
instance/
.mypy_cache/
/migrations/versions/__pycache__*.pyc
!/migrations/versions/__pycache__/

*.egg-info/
build/
dist/
publish_lib.sh
.mypy_cache/
.pytest_cache/
.coverage

app/