<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Framefox - Swift, smart, and a bit foxy !
		</title>
		<link rel="stylesheet" href="static/css/default.css">
		<link rel="icon" href="/static/images/orange_fox.png" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<style></style>
	</head>
	<body>
		<svg xmlns="http://www.w3.org/2000/svg" width="1400" height="300" viewbox="0 0 1200 300">
			<text class="logo-text" x="65%" y="50%" dominant-baseline="middle" text-anchor="end" font-family="'Poppins', sans-serif" font-size="150" font-weight="800" font-style="italic">
				FRAMEF
			</text>
			<image href="/static/images/orange_fox.png" x="790" y="65" width="150" height="150"/>
			<text class="logo-text" x="940" y="50%" dominant-baseline="middle" text-anchor="start" font-family="'Poppins', sans-serif" font-size="150" font-weight="800" font-style="italic">
				X
			</text>
		</svg>
		<p class="slogan">Swift, smart, and a bit foxy !</p>
		<div class="info-box">
			<p>You are seeing this page because you didn't create any controller for the "/" route in your project. Try a
			</p>
			<p>
				<code>$ framefox create controller</code>
				in your terminal :)</p>
		</div>
		<div class="buttons">
			<a href="https://soma-smart.github.io/doc-framefox/" class="button button-docs" target="_blank">
				See our Documentation
			</a>
			<a href="https://github.com/soma-smart/dev-framefox" class="button button-github" target="_blank">
				<img src="/static/images/github.png" alt="GitHub">
				Follow us on GitHub
			</a>
		</div>
	</body>
</html>
