from sqlmodel import Field
from src.core.orm.abstract_entity import AbstractEntity
from typing import List
from sqlalchemy import Column, JSON


class {{ class_name }}(AbstractEntity, table=True):
    id: int = Field(default=None, primary_key=True)
{% raw %}{% endraw %}