from src.core.orm.abstract_repository import AbstractRepository
from src.entity.user import {{ entity_class_name }}


class {{ repository_class_name }}(AbstractRepository):
    def __init__(self):
        super().__init__({{ entity_class_name }})
{% raw %}{% endraw %}