from fastapi import APIRouter
from fastapi.responses import HTMLResponse

from framefox.core.templates.template_renderer import TemplateRenderer

router = APIRouter(prefix="/{{ controller_file_name }}", tags=["{{ name }}"])

@router.get("", response_class=HTMLResponse)
async def get_{{ controller_class_name }}():
    return TemplateRenderer().render("{{ view_name }}", {"controller_name": "{{ controller_class_name }}"})
