from sqlmodel import SQLModel, Field, Relationship
from framefox.core.orm.abstract_entity import AbstractEntity
from typing import Optional


class {{ class_name }}(AbstractEntity, table=True):
    {{ entity_class.lower() }}_id: int = Field(foreign_key="{{ entity_class.lower() }}.id", primary_key=True)
    {{ target_class.lower() }}_id: int = Field(foreign_key="{{ target_class.lower() }}.id", primary_key=True)

    {{ entity_class.lower() }}: Optional["{{ entity_class }}"]  = Relationship(back_populates="{{ property_name }}s")
    {{ target_class.lower() }}: Optional["{{ target_class }}"]  = Relationship(back_populates="{{ entity_class.lower() }}s")