from sqlmodel import Field, Relationship
from framefox.core.orm.abstract_entity import AbstractEntity
from typing import TYPE_CHECKING

if TYPE_CHECKING:
    from src.entity.{{ source_entity }} import {{ source_class }}
    from src.entity.{{ target_entity }} import {{ target_class }}

class {{ intermediate_class }}(AbstractEntity, table=True):
    {{ source_entity }}_id: int | None = Field(foreign_key='{{ source_entity }}.id', primary_key=True)
    {{ target_entity }}_id: int | None = Field(foreign_key='{{ target_entity }}.id', primary_key=True)
    {{ source_entity }}: {{ source_class }} = Relationship(back_populates='{{ target_entity }}s')
    {{ target_entity }}: {{ target_class }} = Relationship(back_populates='{{ source_entity }}s')