from framefox.core.controller.abstract_controller import AbstractController
from framefox.core.routing.decorator.route import Route
from src.repository.{{ repository_file_name }} import {{ repository_class_name }}
from src.entity.{{ entity_file_name }} import {{ entity_class_name }}
from framefox.core.orm.entity_manager import EntityManager
from src.form.{{ entity_name }}_type import {{ entity_class_name }}Type
from fastapi import Request

class {{ controller_class_name }}(AbstractController):
    def __init__(self, entityManager: EntityManager):
        self.entity_manager = entityManager
        self.repository = {{ repository_class_name }}()

    @Route("/{{ entity_name }}s", "{{ entity_file_name }}.read_all", methods=["GET"])
    async def read_all(self):
        items = self.repository.find_all()
        return self.render("{{ entity_name }}/index.html", {"items": items})

    def render_create(self, form):
        return self.render("{{ entity_name }}/create.html", {
            "form": form.create_view()
        })

    @Route("/{{ entity_name }}/create", "{{ entity_name }}.create_specs", methods=["GET"])
    async def create_specs(self, request: Request):
        entity_instance = {{ entity_class_name }}()
        form = self.create_form({{ entity_class_name }}Type, entity_instance)

        return self.render_create(form)

    @Route("/{{ entity_name }}/create", "{{ entity_name }}.create", methods=["POST"])
    async def create(self, request: Request):
        entity_instance = {{ entity_class_name }}()
        form = self.create_form({{ entity_class_name }}Type, entity_instance)

        await form.handle_request(request)
        if form.is_submitted() and form.is_valid():
            self.entity_manager.persist(entity_instance)
            self.entity_manager.commit()
            self.flash("success", "{{ entity_class_name }} created successfully!")
            return self.redirect(self.generate_url("{{ entity_file_name }}.read_all"))

        return self.render_create(form)

    @Route("/{{ entity_name }}/{id}", "{{ entity_file_name }}.read", methods=["GET"])
    async def read(self, id: int):
        item = self.repository.find({"id": id})
        if not item:
            self.flash("error", "{{ entity_class_name }} not found!")
            return self.redirect(self.generate_url("{{ entity_file_name }}.read_all"))
        return self.render("{{ entity_name }}/read.html", {"item": item})

    def render_update(self, form, entity_instance):
        return self.render("{{ entity_name }}/update.html", {
            "form": form.create_view(),
            "item": entity_instance  # Pour compatibilité avec les templates existants
        })

    @Route("/{{ entity_name }}/{id}/update", "{{ entity_file_name }}.update_specs", methods=["GET"])
    async def update_specs(self, request: Request, id: int):
        entity_instance = self.repository.find({"id": id})
        form = self.create_form({{ entity_class_name }}Type, entity_instance)

        self.render_update(form, entity_instance)


    @Route("/{{ entity_name }}/{id}/update", "{{ entity_file_name }}.update", methods=["POST"])
    async def update(self, request: Request, id: int):
        entity_instance = self.repository.find({"id": id})
        form = self.create_form({{ entity_class_name }}Type, entity_instance)
        
        await form.handle_request(request)
        if form.is_submitted() and form.is_valid():
            self.entity_manager.persist(entity_instance)
            self.entity_manager.commit()
            self.flash("success", "{{ entity_class_name }} updated successfully!")
            return self.redirect(self.generate_url("{{ entity_file_name }}.read_all"))

        self.render_update(form, entity_instance)

    @Route("/{{ entity_name }}/delete/{id}", "{{ entity_file_name }}.delete", methods=["POST"])
    async def delete(self, id: int):
        try:
            entity_instance = self.repository.find({"id": id})
            if not entity_instance:
                self.flash("error", "{{ entity_class_name }} not found!")
                return self.redirect(self.generate_url("{{ entity_file_name }}.read_all"))
            self.entity_manager.delete(entity_instance)
            self.entity_manager.commit()
            self.flash("success", "{{ entity_class_name }} deleted successfully!")
            return self.redirect(self.generate_url("{{ entity_file_name }}.read_all"))
        except Exception as e:
            self.flash("error", str(e))
            return self.redirect(self.generate_url("{{ entity_file_name }}.read_all"))