{% raw %}
{% extends "base.html" %}

{% block title %}{% endraw %}{{ pascal_case_name }}
{% raw %}
{% endblock %}


{% block content %}
{% endraw %}

	<form action="/{{ controller_class_name }}_greet" method="get">
		<span>hello_world</span>
		{% raw %}<span>{{ test }}</span>{% endraw %}
	</form>
{% raw %}
{% endblock %}
{% endraw %}