{% raw %}
{% extends "base.html" %}

{% block title %}{% endraw %}{{ pascal_case_name }}
{% raw %}
{% endblock %}


{% block content %}
{% endraw %}

<h1>Hello World on {{ controller_class_name }}!</h1>

{% raw %}
{% endblock %}
{% endraw %}