{% raw %}
{% extends "base.html" %}

{% block title %}{% endraw %}{{ pascal_case_name }}
{% raw %}
{% endblock %}


{% block content %}
{% endraw %}

<h1>Hello World!</h1>
<h2>{% raw %}{{ controller_name }}{% endraw %}!</h2>

{% raw %}
{% endblock %}
{% endraw %}