import uvicorn
from framefox.application import Application

from src import routes


app = Application().boot_web().app
app.include_router(routes.router, prefix="/api", tags=["api"])


if __name__ == "__main__":
    uvicorn.run(app, host="0.0.0.0", port=8000)
{% raw %}{% endraw %}