{% raw %}
{% extends "base.html" %}

{% block title %}Login
{% endblock %}


{% block content %}

	<form action="/login" method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token }}">

		<input type="email" name="email" required>
		<input type="password" name="password" required>
		<button type="submit">Connexion</button>
	</form>
{% endblock %}
{% endraw %}